%h1= current_user.email
%hr

- if current_user.events.any?
  = form_tag(events_path, {method: :get}) do
    %div
      = label_tag :event_name
      = select_tag :event_name, options_from_collection_for_select(@event_names, "name", "name", :selected => params[:event_name]), prompt: "Choose an event", required: true
    -# = select_tag :date_range, options_for_select(Event::DATE_RANGE), prompt: "Pick one"
    %div
      = label_tag :date_start
      - if params[:date_start].nil?
        = select_date @init_date_from, prefix: :date_start
      - else
        = select_date @date_from, prefix: :date_start
    %div
      = label_tag :date_end
      - if params[:date_end].nil?
        = select_date @init_date_to, prefix: :date_end
      - else
        = select_date @date_to, prefix: :date_end
    %div
      = submit_tag "Update Chart"
  - if params[:event_name].nil?
    = content_tag(:p, "Let's create some charts, dummy!")
  - else
    = line_chart @chart
- else
  = content_tag(:p, "Let's create some events, shall we?!")
-# = pie_chart Event.group(:name).count

-# = line_chart Event.group(:name).group(:created_on).count



-# %hr
-# = will_paginate @events
-# %hr
-# %ol
-#   - @events.each do |event|
-#     %li
-#       %strong Source:
-#       = event.source_url
-#       %br
-#       %strong Name:
-#       = event.name
-#       %br
-#       %strong Created on:
-#       = event.created_on
-#       - if event.properties.any?
-#         %br
-#         %strong Properies:
-#         %ul
-#           - event.properties.each do |property|
-#             %li= "#{property.key}: #{property.value}"
-#       %hr

-# = will_paginate @events

