%h1= current_user.email
%ol
  - @events.each do |event|
    %li
      User:
      = get_user(event)
      %br
      = event.name
      %br
      = event.created_at
      - if event.properties.any?
        %br
        %strong Properies:
        %ul
          - event.properties.each do |property|
            %li= "#{property.key}: #{property.value}"
= will_paginate @events