-# %h1= current_user.email
-# %h3= current_user.domains.first.url
%hr
- from = 5.days.ago
- to = Date.today
= line_chart Event.group(:created_on).where('created_on >= ?', from).where('created_on <= ?', to).count
%hr
%ol
  - @events.each do |event|
    %li
      %strong Source:
      = event.source_url
      %br
      %strong Name:
      = event.name
      - if event.properties.any?
        %br
        %strong Properies:
        %ul
          - event.properties.each do |property|
            %li= "#{property.key}: #{property.value}"
      %hr

-# = will_paginate @user_events

