<!DOCTYPE html>
<html>
<head>
  <title>Blocmetrics</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "//code.highcharts.com/highcharts.js", "chartkick" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <% if current_user %>
    <%= current_user.email %> | <%= link_to 'Setting', edit_user_path(@user) %> | <%= link_to 'Log Out', session_path, method: :delete %>
  <% else %>
    <%= link_to 'Log In', new_session_path %>
  <% end %>
<%= yield %>

</body>
</html>
